@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
    padding-inline: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #00000060;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #010420;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #020281;
}

@layer base {
    h1 {
        @apply font-bold lg:text-7xl [line-height:3.5rem] text-4xl;
    }
    /* h1 {
        @apply font-bold lg:text-[3.5rem] lg:[line-height:1.3] text-[1.75rem] [line-height:1.4];
    } */
    h2 {
        @apply lg:font-bold lg:text-5xl lg:[line-height:4.2rem] font-semibold text-2xl;
    }
    /* h2 {
        @apply lg:font-bold lg:text-[2.5rem] lg:[line-height:1.4] font-semibold text-[1.625rem] [line-height:2];
    } */
    h3 {
        @apply font-bold text-4xl;
    }
    /* h3 {
        @apply font-bold text-[1.75rem] [line-height:1.4];
    } */
    h4 {
        @apply font-semibold text-2xl;
    }
    /* h4 {
        @apply font-semibold text-[1.625rem] [line-height:2];
    } */
    h5 {
        @apply font-semibold text-2xl;
    }
    /* h5 {
        @apply font-semibold text-[1.375rem] [line-height:1.45];
    } */
    h6 {
        @apply font-semibold text-xl;
    }
}

@layer components {
    .large-text {
        @apply font-bold lg:text-7xl [line-height:3.5rem] text-4xl;
    }
    /* .large-text {
        @apply font-extrabold text-[3.5rem] [line-height:1.3]
    } */
    .sub-heading {
        @apply font-medium text-xl;
    }
    .nav-text {
        @apply font-semibold text-xl;
    }
    .body-btn {
        @apply font-medium [line-height:1.7];
    }
    .body-lg {
        @apply font-normal [line-height:1.7];
    }
    .link-lg {
        @apply font-medium [line-height:1.7];
    }
    .body-md {
        @apply font-normal text-sm;
    }
    .link-md {
        @apply font-medium text-sm;
    }
    .body-sm {
        @apply font-normal text-xs;
    }
    .link-sm {
        @apply font-medium text-xs;
    }
    .bg-btn-light {
        @apply bg-white hover:bg-light-hover text-black
    }
    .bg-btn-dark {
        @apply bg-ngv-blue hover:bg-ngv-hover text-white
    }
}
