@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.card-scrollbar::-webkit-scrollbar {
    width: 5px;
    padding-inline: 15px;
}
 
.card-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    width: 10px
}

.card-scrollbar::-webkit-scrollbar-thumb {
    background: #0d123d;
    border-radius: 2rem;
}
 
@layer base {
    h1 {
        @apply font-bold lg:text-7xl [line-height:3.5rem] text-4xl;
    }
    h2 {
        @apply lg:font-bold lg:text-4xl lg:[line-height:3.5rem] font-semibold text-2xl;
    }
    h3 {
        @apply font-bold text-3xl;
    }
    h4 {
        @apply font-semibold text-2xl;
    }
    h5 {
        @apply font-semibold text-2xl;
    }
    h6 {
        @apply font-semibold text-xl;
    }
}

@layer components {
    .large-text {
        @apply font-bold lg:text-7xl [line-height:3.5rem] text-4xl;
    }
    .sub-heading {
        @apply font-medium text-xl;
    }
    .nav-text {
        @apply font-semibold text-xl;
    }
    .body-btn {
        @apply font-medium [line-height:1.7];
    }
    .body-lg {
        @apply font-normal [line-height:1.7];
    }
    .link-lg {
        @apply font-medium [line-height:1.7];
    }
    .body-md {
        @apply font-normal text-sm;
    }
    .link-md {
        @apply font-medium text-sm;
    }
    .body-sm {
        @apply font-normal text-xs;
    }
    .link-sm {
        @apply font-medium text-xs;
    }
    .bg-btn-light {
        @apply bg-white hover:bg-light-hover text-black;
    }
    .bg-btn-dark {
        @apply bg-ngv-blue hover:bg-ngv-hover text-white
    }
    .bg-image {
        @apply bg-center bg-cover bg-no-repeat;
    }
}
